main{
    border: 1px solid #000;
}

#personal-section{
    display: flex;
    justify-content: space-around;
}

img{
    width: 210px;
    height: 180px;
}

.default-section-style{
    width: 610px;
    padding: 15px;

}

.default-section-style h2{
    background-color: blue;
    color: #fff;
    text-align: center;
}

.default-section-style div{
    padding: 0 50px;
}

.shortcut{
    width: auto;
    background-color: #000;
    color: orangered;
    text-align: center;
}

.shortcut > a, .shortcut > a:hover, .shortcut > a:visited, .shortcut > a:active {
    color: orangered;
}

#personal-and-education{
    display: flex;
    justify-content: space-around;
}

#personal{

}

#personal a{
    border-radius: 7px;
    margin: 5px;
    padding: 8px 0;
}

#personal li{
    margin: 14px 0;
}

#skills li{
    margin: 14px 0;
}

#web-skills-content{
    display: flex;
    justify-content: space-around;
}

.external-link-github i{
    background-color: #000;
    color: #fff;
    border-radius: 5px; 
    padding: 7px;

}

.external-link-symfony i{
    background-color: #fff;
    color: #1A171B;
    border-radius: 5px; 
    padding: 7px;

}

.external-link-linkedin i{
    background-color: #0e76a8;
    color: white;
    border-radius: 5px; 
    padding: 7px;

}

.external-link-html i{
    background-color: #e34c26;
    color: #fff;
    border-radius: 5px; 
    padding: 7px;

}

.external-link-css i{
    background-color: #264de4;
    color: #fff;
    border-radius: 5px; 
    padding: 7px;

}

.external-link-js i{
    background-color: #000;
    color: #EFD81D;
    border-radius: 5px; 
    padding: 7px;

}

.external-link-php i{
    background-color: #8892BF;
    color: #22242F;
    border-radius: 5px; 
    padding: 7px;

}

.external-link-bootstrap i{
    background-color: #7952B3;
    color: white;
    border-radius: 5px;
    padding: 7px;

}

.external-link-nodejs i{
    background-color: #333333;
    color: white;
    border-radius: 5px;
    padding: 7px;

}

.external-link-python i{
    background-color: #1E415E;
    color: #FFE15F;
    border-radius: 5px;
    padding: 7px;

}

#education{
    
}

#professional-and-skills{
    display: flex;
    justify-content: space-around;
    
}

#professional{
    
}

#skills{
    
}

/* Login page styles */

#login-body{
    background-image: url(../images/mur-login.jpg);
}

#login-form{
    border: 3px solid #000;
    width: 1000px;
    margin: 45px auto;
    display: flex;
    justify-content: space-around;
}

#login-by-extern{
    width: 500px;
    height: 300px;
}

#login-normal{
    width: 500px;
    height: 300px;
}